name: Auth-Core CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "pnpm"

      - name: Install Packages
        run: pnpm install

      - name: Run ESLint
        run: pnpm run lint

      - name: Run Test Cases
        run: pnpm test --if-present

      - name: Build Project
        run: pnpm run build